<!doctype html>
<html ng-app='LesMots'>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://cdn.rawgit.com/jpillora/xdomain/gh-pages/dist/0.6/xdomain.js" slave="http://stadja.net:81/proxy.html"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.js"></script>
    <script src='lib/markdown.js' type='text/javascript'></script>
    <script src='lib/autofill.js' type='text/javascript'></script>
    <script src='app.js' type='text/javascript'></script>
    <script src='controllers/AppController.js' type='text/javascript'></script>
    <script src='directives/login-form.js' type='text/javascript'></script>
    <script src='services/DreamFactoryBeta.js' type='text/javascript'></script>
    <script src='models/Abstract.js' type='text/javascript'></script>
    <script src='models/Users.js' type='text/javascript'></script>
    <script src='models/Words.js' type='text/javascript'></script>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="ressources/style.css">
</head>
<body ng-controller="AppController as app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <login-form></login-form>
            </div>
        </div>
        <div class="row editors" ng-if='app.logged'>
            <div class="words verbs col-md-6">
                <textarea name="" id="" cols="30" rows="10" ng-model="app.verbes.values"></textarea>
                <button class="btn btn-success" ng-click="app.verbes.save()" ng-class="{on:!app.verbes.loading, off:app.verbes.loading}">Save Verbes</button>
            </div>

            <div class="words nouns col-md-6">
                <textarea name="" id="" cols="30" rows="10" ng-model="app.noms.values"></textarea>
                <button class="btn btn-success" ng-click="app.noms.save()" ng-class="{on:!app.noms.loading, off:app.noms.loading}">Save noms</button>
            </div>
        </div>
        <div class="randomQuote">
            <div class="row">
                <div class="col-md-1">
                    <button class="btn btn-primary" type="" ng-click="app.loadOneRandom()">CLICK !</button>
                </div>
                <div class="col-md-11">
                    <div><p>{{app.currentRandom}}</p></div>
                </div>
            </div>
            <div class="row" ng-if="app.kittenUrl">
                <div class="col-md-offset-1 col-md-11">
                    <img ng-src="{{app.kittenUrl}}" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>